/* ===================================================================
 * fonts.scss
 *
 * -------------------------------------------------------------------
 */

/*
 * libre baskerville
================================================================================ */

@font-face {
  font-family: "iconmonstr-iconic-font";
  src: url("/fonts/iconmonstr-iconic-font.woff2?v=1.2.0") format("woff2"),
    url("/fonts/iconmonstr-iconic-font.woff?v=1.2.0") format("woff"),
    url("/fonts/iconmonstr-iconic-font.ttf?v=1.2.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "librebaskerville-italic";
  src: url("/assets/fonts/librebaskerville/librebaskerville-italic-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/librebaskerville/librebaskerville-italic-webfont.woff")
      format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "librebaskerville-bold";
  src: url("/assets/fonts/librebaskerville/librebaskerville-bold-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/librebaskerville/librebaskerville-bold-webfont.woff")
      format("woff");
  font-style: normal;
  font-weight: normal;
}

/*
 * montserrat
================================================================================ */

@font-face {
  font-family: "montserrat-black";
  src: url("/assets/fonts/montserrat/montserrat-black-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/montserrat/montserrat-black-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-extrabold";
  src: url("/assets/fonts/montserrat/montserrat-extrabold-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/montserrat/montserrat-extrabold-webfont.woff")
      format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-bold";
  src: url("/assets/fonts/montserrat/montserrat-bold-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/montserrat/montserrat-bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-semibold";
  src: url("/assets/fonts/montserrat/montserrat-semibold-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/montserrat/montserrat-semibold-webfont.woff")
      format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-medium";
  src: url("/assets/fonts/montserrat/montserrat-medium-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/montserrat/montserrat-medium-webfont.woff")
      format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-regular";
  src: url("/assets/fonts/montserrat/montserrat-regular-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/montserrat/montserrat-regular-webfont.woff")
      format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-light";
  src: url("/assets/fonts/montserrat/montserrat-light-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/montserrat/montserrat-light-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-extralight";
  src: url("/assets/fonts/montserrat/montserrat-extralight-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/montserrat/montserrat-extralight-webfont.woff")
      format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-thin";
  src: url("/assets/fonts/montserrat/montserrat-thin-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/montserrat/montserrat-thin-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
